.lineBook {
  display: flex;
  gap: 5rem;
  overflow-x: auto;
}
.lineBook::-webkit-scrollbar {
  background-color: bisque;
  width: 2px;
  border-radius: 5px;
}
.lineBook::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0);
  width: 10px;
  border-radius: 5px;
  height: 20px;
}
